h1{
	background-image: url("https://lh3.googleusercontent.com/IkZeIu9cMDBDsiRqREYVucPnwR161PR_SRXKfQkQ8pcyK0_ISDLk--Asmw-n-We8t5y1145mdEIlC1Widl9R2WDpvchBcKSR3AJzyg=w0");
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
  	background-size: cover;
  	/*filter: blur(1px);*/
	text-align: center;
	padding-top: 200px;
	font-weight: bold;
	font-size: 75px;
	font-family: "Indie Flower", cursive;
	color: rgb(249, 250, 252);


}

body{
	  background-image: linear-gradient(to bottom right, red, yellow);
}

p{
	border: solid red 4px; 
	text-align: justify;
	border-radius: 5px;
	width: 60%;
	margin: 0 auto;
	padding: 10%;
	font-family: 'Vollkorn', serif;
	font-size: 25px;
	
}

a{
	margin-bottom: 100px;
	margin-left: 550px;
	color: brown;
	font-size: 30px;
	text-align: center;
}